@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Open+Sans:wght@500&display=swap');

@font-face {
  font-family: chomsky;
  src: url('../css/Chomsky.otf');
}

header{
  width: 1400px;
  margin: 0px auto;

  app-bar{
    font-family: 'Libre Franklin', sans-serif;

    ul{
      list-style-type: none
    }
    
    .navbar{
      width: 1400px;
      margin: 0px auto;
      display: flex; 
      justify-content: space-between; 
      align-items: center;
      border-bottom: 1px solid gray;

      ul{
        padding: 0px;

        li:first-child{
          font-weight: 600;
        }
      }

      h1{
        margin: 0px;
        font-family: chomsky;
        font-size: 4rem;
        font-weight: 500;
      }

      i{
        margin-right: 0.5rem;
      }
    }
  
    .menu{
      font-size: 0.8rem;
      width: 1400px;
      margin: 0px auto;
      border-bottom: 4px double black; 
      margin-bottom: 1em;

      ul{
        margin: 0px;
        display: flex;
        justify-content: center;
        list-style-type: none; 
        text-transform: capitalize;

        li{
          a{
            padding: 1em;
            display: inline-block;
            color: inherit;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// Laptop
@media (max-width: 1439.98px) {
  header{
    width: 1200px;

    app-bar{
      .navbar{
        width: 1200px;
      }

      .menu{
        width: 1200px;
      }
    }
  }
}

// Tablet
@media (max-width: 991.98px) {
  header{
    width: 760px;
    position: relative;

    app-bar{
      .navbar{
        justify-content: center;
        width: 760px;

        .mobile-menu{
          width: 20px;
          height: 20px;
          position: absolute;
          left: 30px;

          &[status = true]{
            display: none;
          }
        }

        .mobile-close{
          width: 20px;
          height: 20px;
          position: absolute;
          right: 30px;
          display: none;

          &[status = true]{
            display: block;
          }
        }

        ul{
          display: none;
        }

        h1{
          font-size: 3em;
        }
      }

      .menu{
        width: 760px;
        display: none;

        &[status = true] {
          display: block;

          ul{
            height: 290px;
            padding: 0px;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;

            li{
              width: 45%;
            }
          }
        }
      }
    }
  }
}

// Mobile
@media (max-width: 575.98px) {
  header{
    width: 575px;

    app-bar{
      .navbar{
        width: 575px;
      }
      .menu{
        width: 575px;
      }
    }
  }
}

main{
  width: 1400px;
  margin: 0px auto;

  news-list{
    .mt-0{
      margin-top: 0px;
    }

    .mb-0{
      margin-bottom: 0px;
    }

    .mt-025{
      margin-top: 0.25em;
    }
  
    news-item{
      width: 800px; 
      display: flex;
      align-items: center;
      margin: 1em auto; 
      padding: 5px;
      border: 1px solid black; 
      box-sizing: border-box;

      .news-photo{
        flex-shrink: 0;

        img{
          height: 250px;
          width: 250px;
          object-fit: cover;
        }
      }

      .news{
        font-family: 'Open Sans', sans-serif;
        flex-grow: 1; 
        padding: 0em 0.5em;
        margin-left: 2em;

        .news-content{
          font-family: 'times new roman';
        }
      }
    }
  }
}

// Laptop
@media (max-width: 1439.98px) {
  main{
    width: 1200px;

    news-item{
      width: 1190px !important;
      
      .news-photo{
        img{
          width: 200px !important;
          height: 200px !important;
        }
      }

      .news{
        margin-left: 1em !important;

        h2{
          font-size: 1.3rem;
        }
      }
    }
  }
}

// Tablet
@media (max-width: 991.98px) {
  main{
    width: 760px;

    news-item{
      font-size: 0.8rem;
      width: 750px !important;

      .news-photo{
        img{
          width: 150px !important;
          height: 150px !important;
        }
      }

      .news{
        margin-left: 1em !important;

        h2{
          font-size: 1rem;
        }
      }
    }
  }
}

// Mobile
@media (max-width: 575.98px) {
  main{
    width: 575px;

    news-item{
      width: 565px !important;
    }
  }
}